nav li{
    list-style: none;
    font-family: "Times New Roman", "Georgia", serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #ffffff;
    transition: border-bottom 0.7s ease-in-out;
}
nav a:link, nav a:visited {
    text-decoration: none;
    color: black;

}
nav li:hover {
    border-bottom: 3px solid #000000;
}

nav {
    margin-bottom: 40px;
}

path {
    fill: black;
}
svg {
    width: 100%;
}

#top-img-container {
    border: 4px solid #b6dac7;
    padding: 0px;
    top: 0px;
    position: absolute;
}

#top-img-container::after {
    content: "";
    clear: both;
    display: table;
}

#top-img {
    position: relative;
    right: 20px;
    bottom: 20px;
    z-index: -1;
}

#img-mobile {
    margin-top: 25%;
    left: -8,33%;
}

#svg-container {
    position: absolute;
    padding-top: 10%;
}

#app-button {
    border: 2px solid #b6dac7;
    background-color: #b6dac7;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    transition: all 0.5s linear;
}

#app-button:hover {
    background-color: #ffffff;
    color: #b6dac7;
    cursor: pointer;
}
